*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.collection p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}
.navbar{
    width: 100%;
    height: 40px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    padding: 0 5%;
    color: #7e7c7c;
    position: sticky;
    position: relative;
    position: fixed;
    justify-content: space-between;
}
.collection{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
.collection li{
    transition: .3s;
}
.collection li:hover{
    color: #333;
}
.ham{
    width: 30px;
    margin-bottom: 3px;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    display: none;
}
.main{
    width: 100%;
    height: 600px;
background: url("ig21.jpg") no-repeat center/cover;
padding-top: 100px;
}
.btn{
    padding: 13px 36px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: 300px auto;
}
.main h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 400;
}
.content{
    padding-left: 50px;
}
.main2{
    width: 100%;
    margin-top: 30px;
    height: 600px;
background: url("./ig1.jpg") no-repeat center/cover;
padding-top: 100px;
}
.btn{
    padding: 13px 36px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: 300px auto;
}
.main2 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 400;
}
.content2{
    padding-left: 50px;
}
.content2 h3{
    width: 40%;
font-size: 27px;
}
.btn2{
    padding: 13px 36px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.main3 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 400;
}
.content3{
    padding-left: 50px;
}
.content3 h3{
    width: 40%;
font-size: 27px;
color: #000;
}
.btn3{
    padding: 13px 36px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.main3{
    width: 100%;
margin-top: 100px;
height: 600px;
background: url("./ig16.jpg") no-repeat center/cover;
padding-top: 100px;
color: #000;
}
.title{
    padding-left: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.reno{
    width: 85%;
    height: 500px;
    background: url("./ig21.jpg") no-repeat center/cover;
    margin: 50px auto;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 0;
    padding-left: 40px;
}
.box{
    background-color: rgba(107, 235, 107, 0.197);
    width: 200px;
    height: 100px;
    font-weight: 400;
    padding: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box p{
    text-decoration: underline;
}
.ad_s{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.ad{
    min-width:49%;
    height: 350px;
    box-shadow: 0 0 10px #0002;
    background-color: #f5f2f2;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.ad img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.img{
    transition: .3s;
}
.img:hover{
    transform: scale(1.1);
}
.info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.info,.img{
    width: 50%;
}
.posts{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    padding: 10px;
}
.post{
padding: 0 100px;
min-width: 400px;
border-radius: 10px;
 text-align: center;
overflow: hidden;
box-shadow: 0 0 18px #0003;
}
.post img{
    width: 100%;
    transition: .3s;
    padding-bottom: 10px;
    border-radius: 10px;
}
.post img:hover{
    transform: scale(1.1);
}
.post h3{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}
.present{
    margin-top:100px;
    width: 100%;
    display: flex;
justify-content: space-between;
padding: 0 10%;
}
.inps{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:0 20px;
    gap: 20px;
}
.inps button{
    padding: 13px 45px;
    justify-content: space-between;
    display: flex;
border-radius: 10px;
border: none;
transition: 1s;
}
.inps i{
    transition: .5s;
}
.inps button:hover i{
transform: translateX(20px) scale(1.2);
}
.present h1{
    font-weight: 400;
    padding-top: 40px;
}
.footer{
    width: 100%;
    margin-top: 50px;
background-color: #000;
color: #fff;
}
.items{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 10%;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item h3{
    font-weight: 400;
    color: #ddd;
}
.item p{
    color: grey;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.tag{
    width: 100%;
    background-color: #000;
    color: grey;
    border-top: 1px solid #999090;
    display: flex;
padding: 0 60px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.text{
    text-decoration: none;
color: #000;
}
.tag ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: small;
}
.tag ul img{
width: 100px;
height: 30px;
}
.monkey{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.collection:nth-child(1){
    text-decoration: none;
color: #000;
}
.sale{
    width: 100%;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
gap: 50px;
align-items: center;
justify-content: center;
}
.cart{
    padding: 20px;
    box-shadow: 0 0 10px #0002;
    background-color: #eeeaea;
    width: 300px;
    text-align: center;
}
.cart img{
width: 100%;
height: 100%;
object-fit: cover;
}